$font-family: 'Yekan', cursive;
$org-color: rgb(147,196,255) !important;
$font-color: rgb(66,66,66) !important;
$font-color-25: rgba(66,66,66,.25) !important;
$font-color-50: rgba(66,66,66,.5) !important;
$font-color-75: rgba(66,66,66,.75) !important;
$backgroung-color: rgb(244,244,244) !important;

* {
    font-family: $font-family;
}

body {
    color: $font-color;
    background-color: $backgroung-color;
}

.farsi-alignment {
    direction: rtl;
}

.org-color {
    color: $org-color ;
}

.org-background {
    background-color: $org-color ;
}

.navbar-item-color .nav-link {
    color: $font-color ;
    opacity: 0.85 ;
}
.navbar-item-color .nav-link:hover {
    opacity: 1 ;
}

.navbar-item-color .navbar-toggler {
    color: $font-color;
    border-color: rgba(66, 66, 66, 0.2);
  }

.navbar-item-color .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66, 66, 66, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

#copyright>a {
    color: #000;
    text-decoration: underline;
  }
  
#copyright {
    background-color: inherit;
    font-family: inherit;
    padding: 10px 10px;
    text-align: center;
  }

  //Bootstrap modified by API Team (IA)
.bg-org {
    background-color: $org-color
}

a.bg-org:focus, a.bg-org:hover, button.bg-org:focus, button.bg-org:hover {
    background-color: $org-color
}
.navbar-org .navbar-brand {
    color: $font-color
}

.navbar-org .navbar-brand:focus, .navbar-org .navbar-brand:hover {
    color: $font-color
}

.navbar-org .navbar-nav .nav-link {
    color: $font-color-50
}

.navbar-org .navbar-nav .nav-link:focus, .navbar-org .navbar-nav .nav-link:hover {
    color: $font-color-75
}

.navbar-org .navbar-nav .nav-link.disabled {
    color: $font-color-25
}

.navbar-org .navbar-nav .active>.nav-link, .navbar-org .navbar-nav .nav-link.active, .navbar-org .navbar-nav .nav-link.show, .navbar-org .navbar-nav .show>.nav-link {
    color: $font-color
}

.navbar-org .navbar-toggler {
    color: $font-color-50;
    border-color: rgba(255, 255, 255, .1);
}

.navbar-org .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-org .navbar-text {
    color: $font-color-50
}

.navbar-org .navbar-text a {
    color: $font-color
}

.navbar-org .navbar-text a:focus, .navbar-org .navbar-text a:hover {
    color: $font-color
} 

.border-org {
    border-color: $org-color;
}
.btn-outline-org {
    color: $font-color;
    background-color: transparent;
    background-image: none;
    border-color: $org-color
}

.btn-outline-org:hover {
    color: #fff;
    background-color: $org-color;
    border-color: $org-color
}

.btn-outline-org.focus, .btn-outline-org:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-org.disabled, .btn-outline-org:disabled {
    color: $org-color;
    background-color: transparent
}

.btn-outline-org:not(:disabled):not(.disabled).active, .btn-outline-org:not(:disabled):not(.disabled):active, .show>.btn-outline-org.dropdown-toggle {
    color: $font-color;
    background-color: $org-color;
    border-color: $org-color
}

.btn-outline-org:not(:disabled):not(.disabled).active:focus, .btn-outline-org:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-org.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}//Bootstrap modified by API Team (IA) - finished here.


footer {
    color: $font-color;
    background-color: $org-color;
    padding: 1rem !important;
}
#footer-col-1 {
    text-align: center !important;
    padding: 1rem !important;
}
#footer-col-2 {
    text-align: center !important;
    padding: 1rem !important;
    iframe {
        margin: 0 !important;
    }
}
#footer-col-3 {
    text-align: right !important;
    padding: 1rem !important;
    h1,h2,h3,h4,h5,h6 {
        text-align: center !important;
    }
    .footer-col-3-child {
        border: 2px solid $backgroung-color;
        padding: 50px 5px;
        height: 400px;
    }
}
#map {
    width: 100%;
    height: 400px;
    background-color: $org-color;
  }

.outer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
.inner-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin: auto;
}

#landingpage {
    position: fixed;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background: $backgroung-color;
    z-index: 20;
}
#footer-social-icon {
    i {
    color: $font-color;
    }
}
#landingpage button {
    text-decoration: none !important;
}
#gototopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid $org-color;
    outline: none;
    color: $font-color;
    cursor: pointer;
    padding: 15px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, .75);
}

//Coded by PQ
.addressUl{
    text-decoration: none;
    direction: rtl;
}
.addressUl li{
    display: inline-block;
}

@font-face{
    font-family: 'Yekan';
    src: url('fonts/BYekan.eot'),
    url('fonts/BYekan.ttf'),url('fonts/BYekan.woff');
}
*{
    font-family: 'Yekan';
}
.font-color-50{
    color: $font-color-50;
}


//Coded by PQ - finished
 

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
    .navbar-brand{
        margin-left: 2rem;
        margin-right: 0rem;
    }
    footer {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px){
    .navbar-brand{
        margin-left: 2rem;
        margin-right: 0rem;
    }
    footer {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
    .navbar-brand{
        margin-left: 2rem;
        margin-right: 0rem;
    }
    footer {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px){
    .navbar-brand{
        margin-left: 0rem;
        margin-right: 2rem;
    }
    /*if instagram embedded code came to footer , comments in here should be removed*/
    /*#map {
        top: 50px;
    }
    #footer-col-3 .footer-col-3-child {
        position: relative;
        top: 50px;
    }*/
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
    .navbar-brand{
        margin-left: 0rem;
        margin-right: 2rem;
    }
    /*if instagram embedded code came to footer , comments in here should be removed*/
    /*#map {
        top: 100px;
    }
    #footer-col-3 .footer-col-3-child {
        position: relative;
        top: 100px;
    }*/
}