body {
  color: #424242 !important;
  background-color: #f4f4f4 !important; }

.farsi-alignment {
  direction: rtl; }

.org-color {
  color: #93c4ff !important; }

.org-background {
  background-color: #93c4ff !important; }

.navbar-item-color .nav-link {
  color: #424242 !important;
  opacity: 0.85; }

.navbar-item-color .nav-link:hover {
  opacity: 1; }

.navbar-item-color .navbar-toggler {
  color: #424242 !important;
  border-color: rgba(66, 66, 66, 0.2); }

.navbar-item-color .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66, 66, 66, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

#copyright > a {
  color: #000;
  text-decoration: underline; }

#copyright {
  background-color: inherit;
  font-family: inherit;
  padding: 10px 10px;
  text-align: center; }

.bg-org {
  background-color: #93c4ff !important; }

a.bg-org:focus, a.bg-org:hover, button.bg-org:focus, button.bg-org:hover {
  background-color: #93c4ff !important; }

.navbar-org .navbar-brand {
  color: #424242 !important; }

.navbar-org .navbar-brand:focus, .navbar-org .navbar-brand:hover {
  color: #424242 !important; }

.navbar-org .navbar-nav .nav-link {
  color: rgba(66, 66, 66, 0.5) !important; }

.navbar-org .navbar-nav .nav-link:focus, .navbar-org .navbar-nav .nav-link:hover {
  color: rgba(66, 66, 66, 0.75) !important; }

.navbar-org .navbar-nav .nav-link.disabled {
  color: rgba(66, 66, 66, 0.25) !important; }

.navbar-org .navbar-nav .active > .nav-link, .navbar-org .navbar-nav .nav-link.active, .navbar-org .navbar-nav .nav-link.show, .navbar-org .navbar-nav .show > .nav-link {
  color: #424242 !important; }

.navbar-org .navbar-toggler {
  color: rgba(66, 66, 66, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-org .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-org .navbar-text {
  color: rgba(66, 66, 66, 0.5) !important; }

.navbar-org .navbar-text a {
  color: #424242 !important; }

.navbar-org .navbar-text a:focus, .navbar-org .navbar-text a:hover {
  color: #424242 !important; }

.border-org {
  border-color: #93c4ff !important; }

.btn-outline-org {
  color: #424242 !important;
  background-color: transparent;
  background-image: none;
  border-color: #93c4ff !important; }

.btn-outline-org:hover {
  color: #fff;
  background-color: #93c4ff !important;
  border-color: #93c4ff !important; }

.btn-outline-org.focus, .btn-outline-org:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

.btn-outline-org.disabled, .btn-outline-org:disabled {
  color: #93c4ff !important;
  background-color: transparent; }

.btn-outline-org:not(:disabled):not(.disabled).active, .btn-outline-org:not(:disabled):not(.disabled):active, .show > .btn-outline-org.dropdown-toggle {
  color: #424242 !important;
  background-color: #93c4ff !important;
  border-color: #93c4ff !important; }

.btn-outline-org:not(:disabled):not(.disabled).active:focus, .btn-outline-org:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-org.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }

footer {
  color: #424242 !important;
  background-color: #93c4ff !important;
  padding: 1rem !important; }

#footer-col-1 {
  text-align: center !important;
  padding: 1rem !important; }

#footer-col-2 {
  text-align: right !important;
  padding: 1rem !important; }
  #footer-col-2 .footer-col-2-child {
    padding: 25px 5px;
    height: 300px; }

#footer-col-3 {
  text-align: right !important;
  padding: 1rem !important; }
  #footer-col-3 .footer-col-2-child {
    padding: 25px 5px;
    height: 300px; }

#map {
  width: 100%;
  height: 300px;
  background-color: #93c4ff !important; }

.outer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin: auto; }

#landingpage {
  position: fixed;
  display: flex;
  margin: auto;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: 5px solid #93c4ff !important;
  background: #f4f4f4 !important;
  z-index: 20; }

#footer-social-icon {
  text-align: center !important; }
  #footer-social-icon i {
    color: #424242 !important; }

#landingpage button {
  text-decoration: none !important; }

#gototopbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: 1px solid #93c4ff !important;
  outline: none;
  color: #424242 !important;
  cursor: pointer;
  padding: 15px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.75); }

.addressUl {
  text-decoration: none;
  direction: rtl; }

.addressUl li {
  display: inline-block; }

@font-face {
  font-family: 'Yekan';
  src: url("fonts/BYekan.eot"), url("fonts/BYekan.ttf"), url("fonts/BYekan.woff"); }
.font-color-50 {
  color: rgba(66, 66, 66, 0.5) !important; }

@media (max-width: 575.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; }

  #landingpage h4 {
    font-size: 1.2rem; }
  #landingpage .row .col-4 a, #landingpage .row .col-4 button {
    width: 70px;
    height: 90px; }
  #landingpage .row .col-4 p {
    font-size: .8rem; }
  #landingpage div.col-12 {
    margin-top: 1.5rem !important;
    font-size: 15px !important; }
  #landingpage div.row {
    margin-top: 1.5rem !important; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; }

  #landingpage h4 {
    font-size: 1.2rem; }
  #landingpage .row .col-4 a, #landingpage .row .col-4 button {
    width: 70px;
    height: 90px; }
  #landingpage .row .col-4 p {
    font-size: .8rem; }
  #landingpage div.col-12 {
    margin-top: 1.5rem !important;
    font-size: 15px !important; }
  #landingpage div.row {
    margin-top: 1.5rem !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; }

  #landingpage .row .col-4 a, #landingpage .row .col-4 button {
    width: 100px;
    height: 100px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 2rem; }

  #landingpage .row .col-4 a, #landingpage .row .col-4 button {
    width: 100px;
    height: 100px; }

  /*if instagram embedded code came to footer , comments in here should be removed*/
  /*#map {
      top: 50px;
  }
  #footer-col-3 .footer-col-3-child {
      position: relative;
      top: 50px;
  }*/ }
@media (min-width: 1200px) {
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 2rem; }

  #landingpage .row .col-4 a, #landingpage .row .col-4 button {
    width: 100px;
    height: 100px; }

  /*if instagram embedded code came to footer , comments in here should be removed*/
  /*#map {
      top: 100px;
  }
  #footer-col-3 .footer-col-3-child {
      position: relative;
      top: 100px;
  }*/ }

/*# sourceMappingURL=main.css.map */
