* {
  font-family: "Lalezar", cursive; }

body {
  color: #424242 !important;
  background-color: #f4f4f4 !important; }

.farsi-alignment {
  direction: rtl; }

.org-color {
  color: #93c4ff !important; }

.org-background {
  background-color: #93c4ff !important; }

.navbar-item-color .nav-link {
  color: #424242 !important;
  opacity: 0.85; }

.navbar-item-color .nav-link:hover {
  opacity: 1; }

.navbar-item-color .navbar-toggler {
  color: #424242 !important;
  border-color: rgba(66, 66, 66, 0.2); }

.navbar-item-color .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66, 66, 66, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

#copyright > a {
  color: #000;
  text-decoration: underline; }

#copyright {
  background-color: inherit;
  font-family: inherit;
  padding: 10px 10px;
  text-align: center; }

.bg-org {
  background-color: #93c4ff !important; }

a.bg-org:focus, a.bg-org:hover, button.bg-org:focus, button.bg-org:hover {
  background-color: #93c4ff !important; }

.navbar-org .navbar-brand {
  color: #424242 !important; }

.navbar-org .navbar-brand:focus, .navbar-org .navbar-brand:hover {
  color: #424242 !important; }

.navbar-org .navbar-nav .nav-link {
  color: rgba(66, 66, 66, 0.5) !important; }

.navbar-org .navbar-nav .nav-link:focus, .navbar-org .navbar-nav .nav-link:hover {
  color: rgba(66, 66, 66, 0.75) !important; }

.navbar-org .navbar-nav .nav-link.disabled {
  color: rgba(66, 66, 66, 0.25) !important; }

.navbar-org .navbar-nav .active > .nav-link, .navbar-org .navbar-nav .nav-link.active, .navbar-org .navbar-nav .nav-link.show, .navbar-org .navbar-nav .show > .nav-link {
  color: #424242 !important; }

.navbar-org .navbar-toggler {
  color: rgba(66, 66, 66, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-org .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.navbar-org .navbar-text {
  color: rgba(66, 66, 66, 0.5) !important; }

.navbar-org .navbar-text a {
  color: #424242 !important; }

.navbar-org .navbar-text a:focus, .navbar-org .navbar-text a:hover {
  color: #424242 !important; }

.border-org {
  border-color: #93c4ff !important; }

footer {
  color: #424242 !important;
  background-color: #93c4ff !important;
  padding: 1rem !important; }

#footer-col-1 {
  text-align: center !important;
  padding: 1rem !important; }

#footer-col-2 {
  text-align: center !important;
  padding: 1rem !important; }
  #footer-col-2 iframe {
    margin: 0 !important; }

#footer-col-3 {
  text-align: right !important;
  padding: 1rem !important; }
  #footer-col-3 h1, #footer-col-3 h2, #footer-col-3 h3, #footer-col-3 h4, #footer-col-3 h5, #footer-col-3 h6 {
    text-align: center !important; }
  #footer-col-3 .footer-col-3-child {
    border: 2px solid #f4f4f4 !important;
    padding: 50px 5px;
    height: 400px; }

#map {
  width: 100%;
  height: 400px;
  background-color: #93c4ff !important; }

.outer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin: auto; }

#landingpage {
  position: fixed;
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #f4f4f4 !important;
  z-index: 20; }

.addressUl {
  text-decoration: none;
  direction: rtl; }

.addressUl li {
  display: inline-block; }

@media (max-width: 575.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    margin-left: 2rem;
    margin-right: 0rem; }

  footer {
    padding-right: 0px !important;
    padding-left: 0px !important; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 2rem; }

  #map {
    top: 50px; }

  #footer-col-3 .footer-col-3-child {
    position: relative;
    top: 50px; } }
@media (min-width: 1200px) {
  .navbar-brand {
    margin-left: 0rem;
    margin-right: 2rem; }

  #map {
    top: 100px; }

  #footer-col-3 .footer-col-3-child {
    position: relative;
    top: 100px; } }

/*# sourceMappingURL=main.css.map */
